.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: end;
  margin: 10px;
}

.nav-items li {
  margin: 10px;
}

.logo-style {
  width: 80px;
}

.main-header {
  font-family: Honk, cursive;
  display: flex;
  justify-content: center;
  font-size: 70px;
}

footer {
  display: flex;
  justify-content: center;
}

.main-list {
  list-style: none;
}